[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/shaderc"]
	path = 3rdparty/shaderc
	url = https://github.com/google/shaderc.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/libwebp"]
	path = 3rdparty/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "3rdparty/libpng"]
	path = 3rdparty/libpng
	url = https://git.code.sf.net/p/libpng/code
[submodule "3rdparty/cpp-httplib"]
	path = 3rdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "3rdparty/LUrlParser"]
	path = 3rdparty/LUrlParser
	url = https://github.com/corporateshark/LUrlParser.git
[submodule "3rdparty/libjpeg-turbo"]
	path = 3rdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
